/* 
* @Author: Marte
* @Date:   2016-12-12 17:35:46
* @Last Modified by:   Marte
* @Last Modified time: 2016-12-13 15:34:05
*/
@charset "utf-8";
/* CSS Document */
/*body{*/
    /*background:url(../images/dybg_02.jpg) repeat-y center;*/
/*}*/
.broker_index_img{
    width: 71.39534884%;
}
.broker_index_img div{
    width:24%;
    text-align:center;
    padding:5px;
    margin-right:4%;
    border:2px solid #ddd;
    float:left;
}
.broker_index_img img{
   width:100%;
   height:100%;
}
.broker_index_introd{
     width:32%;
     padding-left:16%;
     padding-top:16px;
}
.broker_index_introd div{
    width:30px;
    word-wrap:break-word;
    float:left;
    padding:0 3%;
}

.broker_procut_img{
    width:40%;
    padding:5px;
    border:2px solid #ddd;
}
.broker_procut_img img{
    width:100%;
}
.broker_introd{
     width:10%;
}
.broker_introd li{
    border:1px solid #000;
    width:18px;
    word-wrap:break-word;
    float:left;
    margin-left:9px;
    padding:4px;
}
.broker_right_img div{
    float:left;
    width:24%;
    margin-left:30px;
}
.broker_right_img>div{
    margin-bottom:20px;
    float:right;
}
.broker_right_img img{
   width:100%;    
}