@charset "utf-8";
/* CSS Document */
body {
  background: url(../images/body_bg.png) no-repeat right bottom;
}
.content .content_list {
  padding-top: 7%;
  height: 75%;
}
.content .content_list li {
  float: left;
  width: 15%;
}
.content .content_list li .hov {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  left: -201px;
  top: -50px;
  background: url(../images/1.png) no-repeat -50% 0;
  text-align: center;
}
.hov div {
  width: 20px;
  color: #006aaa;
  position: absolute;
  top: 35px;
  right: 50%;
  font-size: 36px;
  background: url(../images/leng.png) no-repeat 0 38px;
  padding-left: 22px;
}
.content .content_list li a {
  position: relative;
  width: 18%;
  display: inline-block;
  font-size: 60px;
}
.content li a span {
  width: 44px;
  height: 107px;
  display: inline-block;
  position: absolute;
  left: 80px;
  top: 16px;
  background: url(../images/index_bg.png) no-repeat;
}
.content .content_list li a .fsh {
  background-position: 0 0;
}
.content .content_list li a .jt {
  background-position: 0 -106px;
}
.content .content_list li a .yt {
  background-position: 0 -321px;
}
.content .content_list li a .yr {
  background-position: 0 -536px;
}
.content .content_list li a .yh {
  background-position: 0 -429px;
}
.content .content_list li a .qy {
  background-position: 0 -215px;
}
