@charset "utf-8";
/* CSS Document */
body{font-family:atial,"Microsoft YaHei";color:#666;}
body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dd,dt,input,span,strong,em{margin:0;padding:0;}
em{font-style:normal;}
ul,li{list-style:none;}
a{text-decoration:none;color:#131313;}
img,input{border:none;}
i{font-style:normal;font-family:"consolas";}
img{vertical-align:top;}
html,body{height:100%;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.clearfix:after{content:"";height:0;font-size:0;display:block;clear:both;}
.fot{font-size:0;}
body{background:url(../images/body_bg.png) no-repeat right bottom;}